/* borderLeftSelect */
.border-left {
  border: none;
  border-left: 4px solid #0096FF;
  box-sizing: border-box;
  border-radius: 0;
}
/* end borderLeftSelect */

/* EnableCheckbox */
.point-label input.form-check-input {
  width: 48px;
  height: 24px;
}
.point-label input.form-check-input:checked {
  background-color: #30A966;
  border-color: #30A966;
}
/* end EnableCheckbox */

/* LineWidth */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(30, 35, 41, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px 3px 7px 7px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 10px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(30, 35, 41, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px 3px 7px 7px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 24px;
  width: 10px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(30, 35, 41, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px 3px 7px 7px;
}
/* end LineWidth */