.bg-gray {
  background: #FAFAFA;
  border-radius: 5px;
}

.left-panel {
  margin-top: 20px;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-select {
  font-size: 12px;
}

.border-left-box {
  border: none;
  border-left: 4px solid #0096FF;
  box-sizing: border-box;
  border-radius: 0;
  height: 40px;
}

.github-picker.color-palette{
  background: none!important;
  border: none!important;
  box-shadow: none!important;
}

.github-picker.color-palette >span div {
  width: 40px!important;
  height: 20px!important;
}

/* custom font */
.fs-14 {
  font-size: 14px;
}
.left-panel p.sub-title {
  color: #0096FF;
}
/* end custom font */